* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

#login_box {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px;
    position: absolute;
    top: 98px;
    width: -webkit-fill-available;
}

.logo img {
    height: 140px;
    /* border:1px solid red; */
}

.inputCont_item {
    display: flex;
}

input[type="email"],
input[type="password"] {
    padding: 8px 8px;
    width: 340px;
    margin: 10px;
    outline: none;
    border: 1px solid #2867b2;
    font-size: 16px;
    border-radius: 5px;
}

input[type="button"] {
    width: 103px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid;
    color: #2867b2;
    background-color: white;
    font-size: 16px;
    display: block;
    margin:7px auto;
}

input[type="button"]:hover {
    transition: 0.8s;
    background: #2867b2;
    color: white;

}
input[type="button"]:active{
    background-color: #2185ff;
}